---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer>
    <section class="footer__socials">
        <a>
            <svg
                class="footer__socials__svg"
                width="15"
                height="15"
                viewBox="0 0 15 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M7.49995 5.54737C6.42475 5.54737 5.54731 6.42481 5.54731 7.50001C5.54731 8.5752 6.42475 9.45265 7.49995 9.45265C8.57514 9.45265 9.45258 8.5752 9.45258 7.50001C9.45258 6.42481 8.57514 5.54737 7.49995 5.54737ZM13.3564 7.50001C13.3564 6.69142 13.3637 5.89015 13.3183 5.08302C13.2729 4.14552 13.059 3.31349 12.3735 2.62794C11.6865 1.94093 10.8559 1.72852 9.9184 1.68311C9.10981 1.6377 8.30854 1.64503 7.50141 1.64503C6.69282 1.64503 5.89155 1.6377 5.08442 1.68311C4.14692 1.72852 3.31489 1.94239 2.62934 2.62794C1.94233 3.31495 1.72993 4.14552 1.68452 5.08302C1.63911 5.89161 1.64643 6.69288 1.64643 7.50001C1.64643 8.30714 1.63911 9.10987 1.68452 9.917C1.72993 10.8545 1.9438 11.6865 2.62934 12.3721C3.31635 13.0591 4.14692 13.2715 5.08442 13.3169C5.89301 13.3623 6.69428 13.355 7.50141 13.355C8.31001 13.355 9.11128 13.3623 9.9184 13.3169C10.8559 13.2715 11.6879 13.0576 12.3735 12.3721C13.0605 11.6851 13.2729 10.8545 13.3183 9.917C13.3652 9.10987 13.3564 8.3086 13.3564 7.50001ZM7.49995 10.5044C5.83735 10.5044 4.49555 9.16261 4.49555 7.50001C4.49555 5.83741 5.83735 4.49561 7.49995 4.49561C9.16254 4.49561 10.5043 5.83741 10.5043 7.50001C10.5043 9.16261 9.16254 10.5044 7.49995 10.5044ZM10.6274 5.07423C10.2392 5.07423 9.92573 4.76075 9.92573 4.37257C9.92573 3.98438 10.2392 3.67091 10.6274 3.67091C11.0156 3.67091 11.3291 3.98438 11.3291 4.37257C11.3292 4.46474 11.3111 4.55604 11.2759 4.64122C11.2407 4.7264 11.189 4.8038 11.1238 4.86897C11.0586 4.93415 10.9812 4.98583 10.896 5.02105C10.8109 5.05627 10.7196 5.07434 10.6274 5.07423Z"
                    fill="#c5d9f2"></path>
            </svg>
            <p>@IngTech</p>
        </a>
        <a>
            <svg
                class="footer__socials__svg"
                width="15"
                height="15"
                viewBox="0 0 15 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <g clip-path="url(#clip0_349_563)">
                    <path
                        d="M0 1.07438C0 0.480938 0.493125 0 1.10156 0H13.8984C14.5069 0 15 0.480938 15 1.07438V13.9256C15 14.5191 14.5069 15 13.8984 15H1.10156C0.493125 15 0 14.5191 0 13.9256V1.07438ZM4.63406 12.5569V5.78344H2.38313V12.5569H4.63406ZM3.50906 4.85813C4.29375 4.85813 4.78219 4.33875 4.78219 3.68813C4.76813 3.02344 4.29469 2.51813 3.52406 2.51813C2.75344 2.51813 2.25 3.02437 2.25 3.68813C2.25 4.33875 2.73844 4.85813 3.49406 4.85813H3.50906ZM8.11031 12.5569V8.77406C8.11031 8.57156 8.12531 8.36906 8.18531 8.22469C8.3475 7.82062 8.71781 7.40156 9.34031 7.40156C10.155 7.40156 10.4803 8.02219 10.4803 8.93344V12.5569H12.7312V8.67188C12.7312 6.59062 11.6213 5.62313 10.14 5.62313C8.94563 5.62313 8.41031 6.27938 8.11031 6.74156V6.765H8.09531L8.11031 6.74156V5.78344H5.86031C5.88844 6.41906 5.86031 12.5569 5.86031 12.5569H8.11031Z"
                        fill="#c5d9f2"></path>
                </g>
                <defs>
                    <clipPath id="clip0_349_563">
                        <rect width="15" height="15" fill="white"></rect>
                    </clipPath>
                </defs>
            </svg>
            <p>Ing Tech</p>
        </a>
        <a>
            <svg
                class="footer__socials__svg"
                width="15"
                height="15"
                viewBox="0 0 15 15"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M12.8906 1.64062H2.10938C1.8501 1.64062 1.64062 1.8501 1.64062 2.10938V12.8906C1.64062 13.1499 1.8501 13.3594 2.10938 13.3594H12.8906C13.1499 13.3594 13.3594 13.1499 13.3594 12.8906V2.10938C13.3594 1.8501 13.1499 1.64062 12.8906 1.64062ZM11.5371 5.06104H10.6011C9.86719 5.06104 9.7251 5.40967 9.7251 5.92236V7.05176H11.4771L11.2485 8.81982H9.7251V13.3594H7.89844V8.82129H6.37061V7.05176H7.89844V5.74805C7.89844 4.23486 8.82275 3.41016 10.1733 3.41016C10.8208 3.41016 11.376 3.4585 11.5386 3.48047V5.06104H11.5371Z"
                    fill="#c5d9f2"></path>
            </svg>
            <p>Ing Tech</p>
        </a>
    </section>
    <section class="footer__copyright">
        {t("footer.rights")}
    </section>
    <section class="footer__location">
        <p>California U.S.A</p>
        <p>New York U.S.A</p>
        <p>Quebec Canada</p>
    </section>
</footer>
