---
import FavIcon from "@/assets/favicon.png";
---

<header class="header">
    <img class="header__image" alt="logo de IngTech" src={FavIcon.src} />
    <a href="https://ingtech.my.canva.site/">Nosotros</a>
    <a href="en.html">English</a>
    <a href="">Ingresar</a>
</header>
