---
import SoporteDerecha from "@/assets/producto/soporte_derecha.webp";
import SoporteEnUso from "@/assets/producto/soporte_en_uso.webp";
---

<section class="fotos">
    <img alt="angulo izquierdo de la foto" src={SoporteDerecha.src} />
    <img alt="angulo derecho de la foto" src={SoporteEnUso.src} />
</section>
