---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="presentacion">
    <article class="presentacion__articulo">
        <h1>{t("present.slogan")}</h1>
        <a href="https://ingtech.my.canva.site/metodo-de-pago"
            >{t("present.readmore")}</a
        >
    </article>
    <video loop autoplay muted transition:persist class="presentacion__video">
        <source
            src="https://pub-829b9bdc916e469a9636b8d4339623e3.r2.dev/soporte_para_laptop.mp4"
        />
    </video>
</section>
