---
import SoporteAtras from "@/assets/producto/soporte_individual.webp";
import SoporteDerecha from "@/assets/producto/soporte_derecha.webp";
import SoporteIzquierda from "@/assets/producto/soporte_en_uso.webp";

import LeftArrow from "@/components/icons/LeftArrow.astro";
import RightArrow from "@/components/icons/RightArrow.astro";
---

<section class="carrusel">
    <LeftArrow
        id="left-button"
        class:list={["icon", "left_icon", "icon-disabled"]}
    />
    <picture class="carrusel__picture first_image">
        <img src={SoporteIzquierda.src} alt="soporte por por la izquierda" />
    </picture>
    <picture class="carrusel__picture first_image">
        <img src={SoporteDerecha.src} alt="soporte por la derecha" />
    </picture>
    <picture class="carrusel__picture first_image">
        <img src={SoporteAtras.src} alt="soporte por atrás" />
    </picture>
    <RightArrow id="right-button" class:list={["icon", "right_icon"]} />
    <script>
        const leftButton = document.getElementById("left-button");
        const rightButton = document.getElementById("right-button");
        const pictures = document.querySelectorAll("picture.carrusel__picture");
        const stages = ["first_image", "second_image", "third_image"];

        if (leftButton && rightButton) {
            rightButton.addEventListener("click", () => {
                if (rightButton.classList.contains("icon-disabled")) return;

                pictures.forEach((picture) => {
                    const lastStage =
                        picture.className.split(" ").at(-1) || stages[0];
                    const nextStage = stages.indexOf(lastStage) + 1;

                    if (nextStage === 1) {
                        picture.classList.add(stages[nextStage]);
                        leftButton.classList.remove("icon-disabled");
                    } else if (nextStage === 2) {
                        picture.classList.add(stages[nextStage]);
                        rightButton.classList.add("icon-disabled");
                    }

                    // Primero obtengo la última clase
                    // Luego verifico cuál es el siguiente
                    //  Si es la segunda imagen, pasar a la siguiente, habilitar botón izquierdo
                    //  Si es la tercera imagen, pasar la siguiente, deshabilitar botón derecho
                });
            });

            leftButton.addEventListener("click", () => {
                if (leftButton.classList.contains("icon-disabled")) return;

                pictures.forEach((picture) => {
                    const lastStage =
                        picture.className.split(" ").at(-1) || stages[0];
                    picture.classList.remove(lastStage);
                    const prevStage = stages.indexOf(lastStage) - 1;

                    if (prevStage === 1) {
                        picture.classList.add(stages[prevStage]);
                        rightButton.classList.remove("icon-disabled");
                    } else if (prevStage === 0) {
                        picture.classList.add(stages[prevStage]);
                        leftButton.classList.add("icon-disabled");
                    }

                    // Primero obtengo la última clase
                    // Luego verifico cuál es el anterior
                    //  Si es la segunda imagen, pasar a la anterior imagen, habilitar el botón derecho
                    //  Si es la primera imagen, pasar a la anterior imagen, deshabilitar el botón izquierdo
                });
            });
        }
    </script>
</section>

<style>
    .carrusel {
        margin-block: 1rem;
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        height: 30rem;
    }

    .carrusel__picture {
        position: relative;
        left: 0%;
        display: flex;
        justify-content: center;
        min-width: 100dvw;
        transition: left 300ms ease-in-out;
    }

    .first_image {
        left: 0%;
    }
    .second_image {
        left: -100%;
    }
    .third_image {
        left: -200%;
    }

    .carrusel__picture > img {
        height: 100%;
        user-select: none;
        border-radius: 2rem;
    }

    .icon {
        position: absolute;
        width: 4rem;
        height: 4rem;
        top: 40%;
        z-index: 10;
        background: white;
        transition: scale 100ms ease-out;
    }

    .left_icon {
        left: 5%;
    }

    .right_icon {
        right: 5%;
    }

    .icon-disabled {
        filter: opacity(0.5);
    }

    .icon:hover {
        color: #555555;
    }
    .icon:active {
        scale: 0.8;
    }
</style>
