---
import { ClientRouter } from "astro:transitions";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="icon"
            type="image/png"
            href="https://pub-829b9bdc916e469a9636b8d4339623e3.r2.dev/favicon.png"
        />
        <meta name="generator" content={Astro.generator} />
        <title>{t("head.title")}</title>
        <ClientRouter />
    </head>
    <body>
        <Header />
        <slot />
        <Footer />
    </body>
</html>

<style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }

    :root {
        --background-color: #03101e;
        --text-color: #c5d9f2;
    }

    * {
        font-family: "Montserrat";
    }

    .politicas {
        margin-inline: 1rem;
    }

    [class$="--article"] {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
    }

    [class$="--titulo"] {
        width: 100%;
        font-family: "Montserrat Alternates", "Times New Roman", Times, serif;
        margin: 0.5rem;
        color: #13233e;
    }
</style>
